body {
	display: grid;
	grid-template: 0.5fr 2fr 0.5fr;
	height: 100vh;
}

#app {
	display: flex;
	grid-area: 2/1/3/2;
	border-radius: 20px;
	background-color: rgb(234, 255, 0);
	padding: 10px;
}

.weatherTodayPage {
	display: flex;
	flex-direction: column;
}
